@import "./quiz.css";
@import "./quiz-form.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --clr-primary: #203731;

  --clr-accent-shade: #c48a0e;
  --clr-accent: #ffb513;

  --clr-correct: green;
  --clr-incorrect: red;

  --clr-shadow: rgb(56, 56, 56);

  --clr-white: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cg fill='%23c7cdcc'%3E%3Cpolygon points='1000 -50 0 -50 500 450'/%3E%3Cpolygon points='550 500 1050 1000 1050 0'/%3E%3Cpolygon points='-50 0 -50 1000 450 500'/%3E%3Cpolygon points='0 1050 1000 1050 500 550'/%3E%3C/g%3E%3Cg fill='%23909b98'%3E%3Cpolygon points='1000 -133.3 0 -133.3 500 366.7'/%3E%3Cpolygon points='633.3 500 1133.3 1000 1133.3 0'/%3E%3Cpolygon points='-133.3 0 -133.3 1000 366.7 500'/%3E%3Cpolygon points='0 1133.3 1000 1133.3 500 633.3'/%3E%3C/g%3E%3Cg fill='%23586965'%3E%3Cpolygon points='1000 -216.7 0 -216.7 500 283.3'/%3E%3Cpolygon points='716.7 500 1216.7 1000 1216.7 0'/%3E%3Cpolygon points='-216.7 0 -216.7 1000 283.3 500'/%3E%3Cpolygon points='0 1216.7 1000 1216.7 500 716.7'/%3E%3C/g%3E%3Cg fill='%23203731'%3E%3Cpolygon points='1000 -300 0 -300 500 200'/%3E%3Cpolygon points='800 500 1300 1000 1300 0'/%3E%3Cpolygon points='-300 0 -300 1000 200 500'/%3E%3Cpolygon points='0 1300 1000 1300 500 800'/%3E%3C/g%3E%3Cg %3E%3Cpolygon fill='%23FFB513' points='0 707.1 0 292.9 292.9 0 707.1 0 1000 292.9 1000 707.1 707.1 1000 292.9 1000'/%3E%3Cg fill='%23c7961b'%3E%3Cpolygon points='464.6 -242.5 -242.5 464.6 464.6 464.6'/%3E%3Cpolygon points='535.4 464.6 1242.5 464.6 535.4 -242.5'/%3E%3Cpolygon points='-242.5 535.4 464.6 1242.5 464.6 535.4'/%3E%3Cpolygon points='535.4 1242.5 1242.5 535.4 535.4 535.4'/%3E%3C/g%3E%3Cg fill='%23907622'%3E%3Cpolygon points='405.7 -301.4 -301.4 405.7 405.7 405.7'/%3E%3Cpolygon points='594.3 405.7 1301.4 405.7 594.3 -301.4'/%3E%3Cpolygon points='-301.4 594.3 405.7 1301.4 405.7 594.3'/%3E%3Cpolygon points='594.3 1301.4 1301.4 594.3 594.3 594.3'/%3E%3C/g%3E%3Cg fill='%2358572a'%3E%3Cpolygon points='346.8 -360.3 -360.3 346.8 346.8 346.8'/%3E%3Cpolygon points='653.2 346.8 1360.3 346.8 653.2 -360.3'/%3E%3Cpolygon points='-360.3 653.2 346.8 1360.3 346.8 653.2'/%3E%3Cpolygon points='653.2 1360.3 1360.3 653.2 653.2 653.2'/%3E%3C/g%3E%3Cg fill='%23203731'%3E%3Cpolygon points='287.9 -419.2 -419.2 287.9 287.9 287.9'/%3E%3Cpolygon points='712.1 287.9 1419.2 287.9 712.1 -419.2'/%3E%3Cpolygon points='-419.2 712.1 287.9 1419.2 287.9 712.1'/%3E%3Cpolygon points='712.1 1419.2 1419.2 712.1 712.1 712.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  margin: 8.6rem 0;
}

h1 {
  font-size: 6.4rem;
}

p {
  font-size: 1.6rem;
}

a,
button {
  text-decoration: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.container {
  width: 80%;
  max-width: 120rem;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.btn {
  font-weight: 600;
  border: 0.2rem solid var(--clr-accent);
  border-radius: 0.5rem;
  background: var(--clr-accent);
  color: var(--clr-primary);
  padding: 0.05em 1em;
  transition: 0.3s ease-in-out;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--clr-shadow);
}

.btn:hover {
  background: var(--clr-accent-shade);
  color: var(--clr-white);
}

.flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.text-container {
  background: var(--clr-primary);
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  border: 0.3rem solid var(--clr-accent);
}

.page-center {
  height: calc(100vh - 17.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 4.8rem;
  }
}

/*****************/
/* ERROR */
/*****************/

.error__msg {
  margin-bottom: 3.2rem;
}

/*****************/
/* LOADING */
/*****************/

.loading-center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  font-size: 6rem;
  background: var(--clr-accent);
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin: 0 auto;
}

.loading-container .line {
  position: absolute;
  inset: 0;
  background: var(--clr-accent);
  overflow: hidden;
  border-radius: 50%;
}

.loading-container .line::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 8rem;
  background: linear-gradient(transparent, var(--clr-primary) 50%);
  animation: spinner 2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center left;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    transform-origin: center left;
  }
}

.loading-container .line::after {
  content: "";
  position: absolute;
  inset: 0.5rem;
  background: var(--clr-accent);
  border-radius: 50%;
}

/*****************/
/* QuizResults */
/*****************/

.results {
  color: var(--clr-white);
  align-items: center;
}

.results__title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-accent);
  border-bottom: 0.2rem solid var(--clr-accent);
  padding: 0 4rem 0.25rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.results__msg {
  font-size: 2.8rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}

.results__score {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .results {
    width: 100vw;
  }
}
